@import '../style.css';

.Header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url('../assets/wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin-top: 80px;
}

/*--Hero box--*/
.Header .hero-box {
  display: inline-block;
  max-width: 1140px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Header .hero-box h1 {
  margin-bottom: 1.2rem;
  color: var(--accent);
}

.Header .hero-box .btn:last-child {
  margin-left: 0.8rem;
}
/*--end--Hero box--*/

/*--Main nav--*/
.Header .nav {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--deepDark);
  box-shadow: 0px 2px 6px #000;
}

.nav .logo {
  margin-top: 10px;
  float: left;
  height: 60px;
  position: relative;
}

.nav .logo img {
  float: left;
  height: 100%;
}

.nav .logo .logo-title {
  margin: auto 0;
  margin-left: 0.9rem;
  vertical-align: middle;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.main-nav {
  float: right;
  margin-top: 25px;
}

.nav-item {
  display: inline-block;
  margin-right: 0.8rem;
  transition: border-color 0.3s;
  border-bottom: 2px solid transparent;
}

.nav-item:hover,
.nav-item:active {
  border-bottom: 2px solid var(--light);
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  color: var(--white);
  font-size: 0.9rem;
  letter-spacing: 0.8px;
}

/*--end--Main nav--*/

@media (max-width: 1170px) {
  .Header {
    min-height: 100vh;
    height: max-content;
  }

  .Header .hero-box {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    padding-bottom: 2rem;
    margin: 0 2rem;
    margin-top: 2rem;
  }

  .Header .hero-box h1 {
    text-align: center;
  }

  .nav {
    /* display: block; */
    height: auto !important;
  }

  .nav-item {
    display: block;
    background-color: var(--deepDark);
  }

  .nav .logo {
    margin-top: 0;
  }

  .nav .logo img {
    margin: 2rem;
  }

  .main-nav {
    margin: 0;
    float: none;
    margin-left: 6rem;
    display: block;
  }

  .nav .logo {
    float: none;
  }

  .Header .hero-box .btn {
    margin-top: 2rem;
  }
}

@media (max-width: 700px) {
  .Header .hero-box .btn {
    text-align: center;
    display: block;
  }
  .Header .hero-box .btn:last-child {
    margin-left: 0;
  }
}
