:root {
  --black: #00003c;
  --deepDark: #264653;
  --dark: #2a9d8f;
  --normal: #e9c46a;
  --light: #f4a261;
  --accent: #e76f51;
  --white: #f1faee;
  --darker-white: #e8f1e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: var(--black);
  font-weight: normal;
  letter-spacing: 1.2px;
  word-spacing: 3px;
  line-height: 1.4rem;
}

body {
  background-color: var(--white) !important;

}

.w-1140 {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper {
  display: block;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  word-spacing: 3px;
  letter-spacing: 1.3px;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 140%;
}

.notfound {
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/not-found.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*--trending-section--*/
.trending-section {
  display: block;
  width: 100vw;
  min-height: 100vh;
}

.mt-2 {
  margin-top: 2rem;
}
.mt-4 {
  margin-top: 4rem;
}

.section {
  width: 100vw;
  min-height: 100vh;
  padding-top: 2rem;;
  background-color: var(--white);
}

.trending-section .carousel {
  margin-top: 2rem;
  position: relative;
}

.section:hover .section-title {
  background-color: var(--dark);
  color: var(--white);
}

.section:hover .section-title::after {
  width: 100%;
}

.section-title {
  display: inline-block;
  border: 2px solid var(--dark);
  border-radius: 5px;
  padding: 0.4rem 0.5rem;
  font-weight: 600;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.section-title::after {
  content: '';
  width: 30%;
  display: inline-block;
  position: absolute;
  height: 2px;
  top: 50%;
  margin-left: 0.5rem;
  transform: translateY(-50%);
  background-color: var(--dark);
  transition: width 0.3s;
}

.relative {
  position: relative;
}

.mt-1 {
  margin-top: 1rem;
}

@media (max-width: 1170px) {
  .wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.card {
  overflow: hidden;
  text-align: center;
  padding-bottom: 0.8rem;
  background-color: var(--darker-white);
  border-radius: 4px;
  transition: box-shadow 0.3s;
}

.card:hover,
.card:active {
  border: none;
  box-shadow: 4px 2px 8px var(--deepDark);
}

.card:hover .btn {
  box-shadow: 1px 1px 4px var(--normal);
}

.card:hover {
  background-color: var(--white);
}

.card-image {
  width: 100%;
  height: 100%;
}

.card-image img {
  width: 100%;
  /*height: 320px;*/
}

.card-body {
  font-weight: 400;
  font-size: 0.8rem;
}

.card-title {
  font-weight: 600;
  font-size: 1rem;
}

.card-buttons {
  margin-top: 0.4rem;
}

.card-buttons .btn:first-child {
  margin-right: 0.2rem;
}

.card-buttons .btn:last-child {
  margin-left: 0.2rem;
}

.avatar-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circle-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-avatar .avatar {
  width: 120px;
  height: 120px;
  display: inline-block;
  /* overflow: hidden; */
  background-size: cover !important;
  background-repeat: no-repeat !important;
  /* background-position: center !important; */
  border-radius: 50%;
}

.circle-avatar .avatar-name {
  margin-top: 0.6rem;
  font-size: 0.8rem;
  font-weight: 600;
}

footer {
  background-color: var(--darker-white);
  width: 100vw;
  padding: 4rem 0;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.margin-80 {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  margin-bottom: 0.5rem;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.btn-primary,
.btn-primary:focus {
  background-color: var(--light);
  color: var(--white);
  border: transparent;
}

.btn-outline-primary,
.btn-outline-primary:focus {
  border-color: var(--light);
  color: var(--light);
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-primary:hover,
.btn-primary:active {
  background-color: var(--accent) !important;
  border-color: var(--accent) !important;
  color: var(--white) !important;
}

.loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--black);
  opacity: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
}


.Header {
  height: calc(100vh - 73px);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url('./assets/wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin-top: 73px;
}

.Header .hero-box .btn:last-child {
  margin-left: 0.4rem;
}
/*--Hero box--*/
.Header .hero-box {
  display: inline-block;
  max-width: 1140px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Header .hero-box h1 {
  margin-bottom: 1.2rem;
  color: var(--accent);
}

@media (max-width: 1170px) {
  .Header {
    min-height: 100vh;
    height: max-content;
  }

  .Header .hero-box {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    padding-bottom: 2rem;
    margin: 0 2rem;
    margin-top: 2rem;
  }

  .Header .hero-box h1 {
    text-align: center;
  }

  .nav {
    /* display: block; */
    height: auto !important;
  }

  .nav-item {
    display: block;
    background-color: var(--deepDark);
  }

  .nav .logo {
    margin-top: 0;
  }

  .nav .logo img {
    margin: 2rem;
  }

  .main-nav {
    margin: 0;
    float: none;
    margin-left: 6rem;
    display: block;
  }

  .nav .logo {
    float: none;
  }

  .Header .hero-box .btn {
    margin-top: 2rem;
  }
}

@media (max-width: 700px) {
  .Header .hero-box .btn {
    text-align: center;
    display: block;
  }
  .Header .hero-box .btn:last-child {
    margin-left: 0;
  }
}


.h-100vh {
  height: 100vh;
}

.bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.mh-200 {
  max-height: 200px;
}

.w-200 {
  width: 200px;
}

.overflow-scroll {
  overflow: scroll;
}

.custom-img-overlay {
  width: 100%;
  height: 60%;
  min-height: 150px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
  color: var(--white);
}

.avatar {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.min-h-50 {
  min-height: 50vh;
}